<html>
    <head>
        <meta charset='utf-8'>
        <title>ポートフォリオ</title>
        <!--Vue-->
        <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
        <!--Vue-Router-->
        <script src="https://unpkg.com/vue-router@3.0.1"></script>
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!--font : Noto Sans-->
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
        <style>
        html,body { font-family: "Noto Sans JP"; }
        .orange_ur {border-bottom: solid 3px #ff8630;}
        </style>
    </head>
    <body>
        <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li v-for="(item, i) in items"  class="nav-item" v-on:click="onClick(i)">
                        <a  v-if="i==isActive" class="nav-link active" > {{ item.text }} </a>
                        <a  v-else class="nav-link" >{{ item.text }}</a>
                    </li>
                </ul>
              </div>
            </div>
          </nav>

    
    <!-- 
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">ポートフォリオ・ページへようこそ！</p>
            <hr class="my-4">
            
            <p>このページはポートフォリオとして制作したウェブページです．フロントエンドデザインには，Bootstrapフレームワークを含めたCSSを用いました．また，inputフォームを活用するため，JavaScript・Vueを使い，簡単なコメントコーナーも作ってみました．良ければ最後まで見ていってください．よろしくお願いいたします．</p>
            
        </div>
    </div>
    -->
    <div id="app">
        <h1>Hello App!</h1>
        <p>
        <!-- ナビゲーションに router-link コンポーネントを使う -->
        <!-- リンク先を `to` プロパティに指定します -->
        <!-- デフォルトで `<router-link>` は `<a>` タグとして描画されます -->
        <router-link to="/foo">Go to Foo</router-link>
        <router-link to="/bar">Go to Bar</router-link>
        </p>
        <router-view></router-view>
    </div>
        <!--
    <div class="container">
	<div class="row">
	<div class="col-12">

        <div id="nav">
            <ul class="nav nav-tabs">
                <li v-for="(item, i) in items"  class="nav-item" v-on:click="onClick(i)">
                    <a  v-if="i==isActive" class="nav-link active">
                        {{ item.text }}
                    </a>
                    <a  v-else class="nav-link">
                        {{ item.text }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
        -->
    <!-- 
    <div class="col-12">
    <h2>業績</h2>
    </div>
		<div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <span class="orange_ur">
                        名南ネットワークでの<br/>アルバイト
                        </span>
                    </h3>
                    <p class="card-text">
                        期間 : 2017年7月~現在<br/>
                        概要 : 学部1年次から，株式会社名南ネットワークにて，Webエンジニアとしてアルバイトをしています．業務では，フロントエンドのHTML5，jQuery，BootStrapを用いてUI/UXをデザインしたり，JavaEEのバックエンド・サーバープログラムを記述するほか，AWSを用いたクラウドインフラに携わることもあります．
                    </p>
                </div>
            </div>
        </div>
		<div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <span class="orange_ur">
                        スタートアップ立ち上げ
                        </span>
                    </h3>
                    <p class="card-text">
                    期間 : 2019年4月~8月<br/>
                    概要 : 学部3年次に，自身の先輩のスタートアップ起業に協力しました．主にフロントエンドエンジニアとして，Angularフレームワークを用いたTypeScriptによる開発に携わりました．開発を通じて，単にお金を稼ぐために開発を行うのではなく，夢や目標を持って事業に取り組むことの価値を感じました．
                    </p>
                </div>
            </div>
        </div>
		<div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <span class="orange_ur">
                            プログラミングサークルでの活動
                        </span>
                    </h3>
                    <p class="card-text">
                    期間 : 2017年5月~2019年3月<br/>
                    概要 : 学部2年次から，スマートフォンアプリ開発サークルに所属し，活動していました．サークル内では，文化祭発表用の成果物としてAndroidアプリ開発の開発・チームの指揮を行いました．
                    </p>
                </div>
            </div>
        </div>

        
	<div class="col-12">

        <h3>
            <span class="orange_ur">
            コメントコーナー
            </span>
        </h3>
        <br/>
        <form>
        <div id="comment-corner">
            <ul>
                <li v-for="item in items" :key="item.message">
                    {{ item.name }} : {{ item.comment }} -{{item.commentdate}}
                </li>
            </ul>
            お名前
             <div class="form-group">
                <input type="text" v-model="tmp_name" class="form-control" placeholder="お名前" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
            コメント
            <div class="form-group">
                <input type="text" v-model="tmp_comment" class="form-control" placeholder="Enter comment" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <small id="commentHelp" class="form-text text-muted">感想・質問など，ご自由にコメントください．</small>
            </div>
            <br/>
            <button type=button class='btn btn-primary' v-on:click="addComment(tmp_comment)">
            投稿
            </button>
        </div>
        </form>


        <h3>Vueテスト</h3>
        <div id="app">
            {{ message }}
        </div>
        </div>
        </div>
        </div>
    </div>
    -->

    
    </body>
    <script type="text/javascript">
    // 0. モジュールシステムを使っている場合 (例: vue-cli 経由で)、Vue と VueRouter をインポートし、`Vue.use(VueRouter)` を呼び出します。

    // 1. ルートコンポーネントを定義します
    // 他のファイルからインポートすることもできます
    //const Foo = { template: '<div>foo</div>' }
    //const Bar = { template: '<div>bar</div>' }
    import Foo from './views/foo.vue'
    import Bar from './views/bar.vue'

    // 2. ルートをいくつか定義します
    // 各ルートは 1 つのコンポーネントとマッピングされる必要があります。
    // このコンポーネントは実際の `Vue.extend()`、
    // またはコンポーネントオプションのオブジェクトでも構いません。
    // ネストされたルートに関しては後で説明します
     
    // 3. ルーターインスタンスを作成して、ルートオプションを渡します
    // 追加のオプションをここで指定できますが、
    // この例ではシンプルにしましょう
    const router = new VueRouter({
    routes // `routes: routes` の短縮表記
    })
    // 4. root となるインスタンスを作成してマウントします
    // アプリケーション全体がルーターを認知できるように、
    // ルーターをインジェクトすることを忘れないでください。
    const app = new Vue({
    router
    }).$mount('#app')

        var nav = new Vue({
            el: '#nav',
            data: {
                items: [
                    {text: 'Main Menu'},
                    {text: 'Achievement'},
                    {text: 'Game Center'},
                ],
                isActive: 0
            },
            methods: {
                onClick: function(num) {
                        console.log(num)
                        this.isActive=num;
                }
            }
        })
        let comment_corner = new Vue({
            el: '#comment-corner',
            data: {
                tmp_name:"",
                tmp_comment:"",
                items:[
                    //{name:"テストさん",comment:"テスト",commentdate:"2021-04-01"}
                ] 
            },
            methods: {
                addComment: function() {
                    err_msg=""
                    if (this.tmp_comment==""){
                        err_msg+="・コメントを入力してください\n"
                    }
                    if (this.tmp_name==""){
                        err_msg+="・名前を入力してください\n"
                    }
                    //エラー出力
                    if (!err_msg==""){
                        alert(err_msg)
                        return;
                    }

                    let today = new Date();
                    //formattedは2021-04-01 00:11:22みたいな感じに整形される
                    let formatted = `${today.getFullYear()}-${(today.getMonth()+1).toString().padStart(2,'0')}-${(today.getDate()).toString().padStart(2,'0')}  ${(today.getHours()).toString().padStart(2,'0')}:${(today.getMinutes()).toString().padStart(2,'0')}:${(today.getSeconds()).toString().padStart(2,'0')}`

                    this.items.push({name:this.tmp_name,comment:this.tmp_comment, commentdate:formatted});
                    this.tmp_name = "";
                    this.tmp_comment = "";
                }
            }
        })
    </script>
</html>